/* #58a724 */
/* #2d302c */
/* #e2e2e2 */

body {
    margin: 0!important;
    font-family: 'Exo 2', sans-serif!important;
}
.nav-my {
    width: 100%;
    background-color: #2d302c;
    color: #fff;
}
.container-my {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.divide-container-my {
    width: 100%;
    padding: 10px 0px;
    background-color: #e2e2e2;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #555;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 10px;
}
.header-my {
    height: 100px;
    padding: 15px 0px;
}
.header-inside-my {
    height: 70px;
    float: left;
}
.header-icon-my {
    width: 70px;
}
.header-icon-my:hover {
    animation: w3-spin 1s;
} @keyframes w3-spin {
    0% {
        transform:rotate(0deg)
    } 100% {
        transform:rotate(359deg)
    }
}
.header-content-my {
    width: 1130px;
    font-size: 42px;
    font-weight: medium;
}
.header-site-name-my {
    padding-left: 10px;
    width: 400px;
}
.header-search-my {
    width: 646px;
    padding: 10px 0px;
    float: right;
}
.header-search-input-my {
    width: 399px;
    height: 50px;
    font-size: 18px;
    padding-left: 15px;
    float: left;
    background-color: #4f524e;
    border: solid #4f524e;
    border-width: 1px 1px 1px 0px;
    color: #fff;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.header-search-input-my:focus {
    font-size: 15px;
    transition: .5s ease;
}
::placeholder {
    color: #ddd;
}
.parent-search-my {
    height: 50px;
    width: 50px;
    float: left;
    border: solid #4f524e;
    border-width: 1px 0px 1px 1px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.search-submit-my {
    width: 100%;
    height: 100%;
    background-color: #4f524e;
    padding: 0;
    transition: all .3s;
    color: #ddd;
}
.parent-search-my:hover .search-submit-my {
    transform: scale(1.2);
    cursor: pointer;
}
.menu-my {
    width: 100%;
    height: 60px;
    background-color: #58a724;
}
.sticky-my {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    animation: animatetop 0.5s;
}@keyframes animatetop {
    from {
        top:-60px;
        opacity:1
    } to {
        top:0;
        opacity:1
    }
}
.navbar-my {
    overflow: hidden;
    text-transform: uppercase;
}
.navbar-my a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 18px 40px;
    text-decoration: none;
}
.subnav-my {
    float: left;
    overflow: hidden;
}
.subnav-my > a.subnav-a-my {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.subnav-my .subnav-btn-my {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 18px 40px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
}
.navbar-my a:hover, .subnav-my:hover {
    background-color: #368502;
    cursor: pointer;
    transition: background .5s;
}
.subnav-content-my {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    background-color: #585a57; 
    box-shadow: inset 0px 8px 5px -5px #2d302c;
}
.subnav-container-my {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.subnav-content-my a {
    font-size: 14px;
    text-transform: none;
    float: left;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
}
.subnav-content-my a:hover {
    background-color: #eee;
    color: black;
    padding: 10px 27px;
    border: 3px solid #4f524e;
    transition: none;
}
.subnav-my:hover .subnav-content-my {
    display: block;
}
.subnav-my:hover .subnav-a-my {
    position: absolute;
}
.fa-caret-down {
    margin-left: 7px;
}
/*  */
/* Content */
/*  */
.background-container-my {
    padding: 20px 0px;
    margin: 0;
    width: 100%;
    background-image: url("../img/background-image.png");
    background-position: center 50px;
    background-repeat: no-repeat;
    background-size: initial;
    background-attachment: local;
}
.content-container-my {
    width: 100%;
    height: 600px;
    background-color: #fff;
}
.page-under-construction-my {
    margin-bottom: 90px;
    width: 100%;
    background-image: url("../img/under.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}
h1.header-page-under-construction-my {
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    color: #58a724;
}



/*  */
/* Footer */
/*  */
.footer-my {
    background-color: #2d302c;
    min-height: 280px;
}
.col-md-3 {
    width: 400px;
    float: left;
    padding: 15px;
    color: #ddd;
    height: 259px;
    flex: unset!important;
    max-width: unset!important;
}
.col-md-3 > p {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.col-md-3 > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}
.col-md-3 ul a {
    text-decoration: none;
    color: #888;
}
.col-md-3 ul a:hover {
    cursor: pointer;
    color: #58a724;
}
a.social-links-my {
    display: block;
    width: 110px;
    height: 32px;
    margin: 15px;
}
span.social-icons-my {
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    float: left;
}
span.copy-rights-my {
    color: #888;
    display: block;
    margin-top: 50px;
}

.card {
    transition: ease-in-out .5s;
    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0px 0px 4px 0px rgba(13, 106, 182, 0.8);
    border: 1px solid rgba(13, 106, 182, 0.8);
}

.card-body {
    background-color: rgba(0,0,0,.125);
    transition: ease-in-out .5s;
}

.card:hover .card-body {
    background-color: rgba(13, 106, 182, 0.8);
    color: #fff;
}

.card-image-cont {
    padding: 30px;
    transition: ease-in-out .5s;
    overflow: hidden;
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 260px;
}

.card:hover .card-image-cont {
    transform: scale(1.15);
}

.author-nav-my {
    margin: 12px 0px;
    display: block;
    font-size: 16px;
    color: #aaa;
    float: right;
    height: 46px;
    width: 160px;
    border-left: 1.5px solid #888;
    padding-left: 12px;
    line-height: 4.2;
    font-family: 'Kalam', cursive;
}

.product-tiles-my {
    background-color: #fff;
    width: 386px;
    height: 302px;
    float: left;
    padding: 0px;
    text-align: center;
    font-size: 18px;
}

.tile-name-my {
    position: relative;
    top: 10px;
    transition: ease-in-out .5s;
}

.product-tiles-front-my {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: none;
    transition: ease-in-out .5s;
    border-radius: 2px;
    padding: 0px 10px;
}

.product-tiles-my:hover .product-tiles-front-my {
    background-color: rgba(129, 129, 129, 0.3);
    cursor: pointer;
}

.product-tiles-my:hover .tile-name-my {
    top: 130px!important;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
}

.product-info-wrapper-my {
    z-index: 101;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    display: none;
    transition: ease-in-out .5s;
}

.w3-animate-top-my {
    animation: animatetopmy 0.8s
} @keyframes animatetopmy {
    from {
        top: 45%;
        opacity: 0.9;
    } to {
        top: 50%;
        opacity: 1;
    }
}

.modal-product-container-my {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-info-my {
    float: left;
    width: 650px;
    height: 600px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0 5px 1px rgba(0,0,0,0.75);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 400px;
}

.specyfics-product-info-my {
    float: right;
    color: #000;
    width: 35%;
    text-align: center;
    padding-left: 20px;
    padding-bottom: 15px;
    background-size: 80%;
}

.product-description-my {
    width: 100%;
    background-color: rgba(50,50,50,0.99);
    color: #ddd;
    padding: 15px;
    font-size: 16px;
    text-align: justify;
    box-shadow: 0px 0 5px 1px rgba(0,0,0,0.75);
    float: left;
    margin-top: 20px;
}

.info-detail-my {
    font-size: 20px;
    color: rgba(13, 106, 182, 0.8);
    display: block;
}

.info-detail-values-my {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
    display: block;
}

.info-detail-header-my {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    background-color: #3a77b7;
    padding: 15px 10px;
    box-shadow: 0px 0 5px 1px rgba(0,0,0,0.75);
    border: none;
}

.product-description-rate {
    margin-top: 15px;
    height: 100px;
    color: rgba(13, 106, 182, 0.8);
    font-size: 22px;
    padding-top: 10px;
    background-color: #fff;
    box-shadow: 0px 0 5px 1px rgba(0,0,0,0.75);
}

.container-info-detail-my {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 10px;
    box-shadow: 0px 0 5px 1px rgba(0,0,0,0.75);
    margin-top: 20px;
}

.star {
    font-size: 25px;
    color: rgba(255, 217, 0, 0.671);
}

nav.nav-add-product a.active {
    background-color: #58a724!important;
}

nav.nav-add-product a {
    background-color: rgba(0,0,0,.125);
    margin-right: 5px;
    margin-left: 5px;
}

.nav-add-product a:hover {
    cursor: pointer;
}

div.row.row-cols-1.row-cols-md-3 {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

nav[aria-label=breadcrumb] > ol.breadcrumb {
    border: 1px solid #dfdfdf;
}