/* #58a724 */
/* #2d302c */
/* #e2e2e2 */

body {
    margin: 0!important;
    font-family: 'Exo 2', sans-serif;
}
.nav {
    width: 100%;
    background-color: #2d302c;
    color: #fff;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 100%;
}
.divide-container {
    width: 100%;
    padding: 10px 0px;
    background-color: #e2e2e2;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #555;
    text-transform: uppercase;
}
.header {
    height: 100px;
    padding: 15px 0px;
}
.header-inside {
    height: 70px;
    float: left;
}
.header-icon {
    width: 70px;
}
.header-icon:hover {
    animation: w3-spin 1s;
} @keyframes w3-spin {
    0% {
        transform:rotate(0deg)
    } 100% {
        transform:rotate(359deg)
    }
}
.header-content {
    width: 1130px;
    font-size: 42px;
    font-weight: medium;
}
.header-site-name {
    padding-left: 10px;
    width: 400px;
}
.header-search {
    width: 646px;
    padding: 10px 0px;
    float: right;
}
.header-search-input {
    width: 399px;
    height: 50px;
    font-size: 18px;
    padding-left: 15px;
    float: left;
    background-color: #4f524e;
    border: solid #4f524e;
    border-width: 1px 1px 1px 0px;
    color: #fff;
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.header-search-input:focus {
    font-size: 15px;
    transition: .5s ease;
}
::placeholder {
    color: #ddd;
}
.parent-search {
    height: 50px;
    width: 50px;
    float: left;
    border: solid #4f524e;
    border-width: 1px 0px 1px 1px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.search-submit {
    width: 100%;
    height: 100%;
    background-color: #4f524e;
    padding: 0;
    transition: all .3s;
    color: #ddd;
}
.parent-search:hover .search-submit {
    transform: scale(1.2);
    cursor: pointer;
}
.menu {
    width: 100%;
    height: 60px;
    background-color: #58a724;
}
.sticky {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    animation: animatetop 0.5s;
}@keyframes animatetop {
    from {
        top:-60px;
        opacity:1
    } to {
        top:0;
        opacity:1
    }
}
.navbar {
    overflow: hidden;
    text-transform: uppercase;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 18px 40px;
    text-decoration: none;
}
.subnav {
    float: left;
    overflow: hidden;
}
.subnav > a.subnav-a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.subnav .subnav-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 18px 40px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
}
.navbar a:hover, .subnav:hover .subnav-btn {
    background-color: #368502;
    cursor: pointer;
    transition: background .5s;
}
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #4f524e;
    width: 100%;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    box-shadow: inset 0px 0px 2px 0px #000;
}
.subnav-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.subnav-content a {
    font-size: 14px;
    text-transform: none;
    float: left;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
}
.subnav-content a:hover {
    background-color: #eee;
    color: black;
    padding: 10px 27px;
    border: 3px solid #4f524e;
    transition: none;
}
.subnav:hover .subnav-content {
    display: block;
}
.subnav:hover .subnav-a {
    position: absolute;
}
.fa-caret-down {
    margin-left: 7px;
}
/*  */
/* Content */
/*  */
.background-container {
    padding: 20px 0px;
    margin: 0;
    width: 100%;
    min-height: 1000px;
    /* background-color: #ecf0f1; */
    background-image: url("../images/background-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
}
.content-container {
    width: 100%;
    height: 600px;
    background-color: #fff;
}
.page-under-construction {
    margin-bottom: 90px;
    width: 100%;
    height: 700px;
    background-color: #fff;
    background-image: url("../images/under.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
h1.header-page-under-construction {
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
    color: #58a724;
}



/*  */
/* Footer */
/*  */
.footer {
    background-color: #2d302c;
    min-height: 280px;
}
.col-md-3 {
    width: 400px;
    float: left;
    padding: 15px;
    color: #ddd;
    height: 259px;
}
.col-md-3 > p {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.col-md-3 > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    color: #888;
}
.col-md-3 ul a {
    text-decoration: none;
}
.col-md-3 ul a:hover {
    cursor: pointer;
    color: #58a724;
}
a.social-links {
    display: block;
    width: 110px;
    height: 32px;
    margin: 15px;
}
span.social-icons {
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    float: left;
}
span.copy-rights {
    color: #888;
    display: block;
    margin-top: 50px;
}
